@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import './reset.css';
@import './header.css';
@import './banner.css';
@import './mentors.css';




:root{
    --primary-color: #00AEEF;
    --secondary-color: #FFC20E;
    --text-color: #212121;
    --white-color: #ffffff;
    --bg-color: #F2F7FD;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}